@page "{id:int}"
@model CarDeleteModel
@{
    ViewData["Title"] = "Flotte de voitures";
}


<div class="container">

<div class="text-center">
    <h1 class="display-4">Détails</h1>
    <p>RegineRent@Car</p>
</div>


<br>
<br>


<h1>Etes vous sur de vouloir supprimer cette voiture ? </h1>

<form method="POST">

  <input type="submit">

</form>

