@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue ! </h1>
    <h2 class="display-4">Site de gestion de RegineRent@Car</h2>
</div>
